@custom-media --motionOK (prefers-reduced-motion: no-preference);

html {
  --brand-hue: 195;
  --brand-saturation: 100%;
  --brand-lightness: 50%;

  --brand-light: hsl(var(--brand-hue) var(--brand-saturation) calc(var(--brand-lightness) * 1.9));
  --text-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);

  --brand-dark: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 8));
  --text-dark: hsl(var(--brand-hue) 15% 85%);
}

:root {
  --brand: var(--brand-light);
  --text: var(--text-light);

  --font-base: system-ui, Tahoma, Geneva, Verdana, sans-serif;
  --font-mono: monospace;
  --size-base: 1rem;
  --size-lg: calc(2 * var(--size-base));
  --size-xl: calc(3 * var(--size-base));
  --size-xxl: calc(5 * var(--size-base));
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--brand-dark);
    --text: var(--text-dark);
    --surface1: var(--surface1-dark);
  }
}

/* Base theme */

body {
  font-family: var(--font-base);
  background-color: var(--brand);
  color: var(--text);
}

.d-grid {
  display: grid;
}

.font-mono {
  font-family: var(--font-mono);
}

/* Style components */

.title {
  text-align: center;
}


.scoreboard {
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: 0 30%;
}

.score {
  font-size: var(--size-xxl);
  margin-bottom: 0;
}

.arena {
  grid-area: choices ring;
  grid-template-columns: minmax(190px, 1fr) 4fr minmax(150px, 1fr);
  position: relative;
}

.ring {
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  pointer-events: none;
}

.ring-back {
  background-image: url('/images/ring-back.png');
  z-index: -1;
}

.ring-front {
  background-image: url('/images/ring-front.png');
}


/* Style and rotate the emoji buttons */
.choices {
  font-size: var(--size-xxl);
}

.choice {
  background-color: transparent;
  border: none;
  margin: var(--size-base);
}

.choices--player .choice {
  cursor: pointer;
}

.choice .icon {
  display: block;
}

.choices--player .scissors .icon {
  transform: scaleX(-1) rotate(-90deg);
}

.choices--computer .scissors .icon {
  transform: rotate(-90deg);
}

.choices--computer .rock .icon,
.choices--computer .paper .icon {
  transform: scaleX(-1);
}


@media (--motionOK) {
  .choice {
    transition:
      transform var(--thumb-transition-duration) ease,
      box-shadow .25s ease;
  }
}